<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <welcome-file-list>
        <welcome-file>home1.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>viewPatientServlet</servlet-name>
        <servlet-class>controller.doctor.viewPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPatientDetailServlet</servlet-name>
        <servlet-class>controller.doctor.ViewPatientDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewEmployee</servlet-name>
        <servlet-class>controller.admin.viewEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEmployee</servlet-name>
        <servlet-class>controller.admin.deleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployeeByName</servlet-name>
        <servlet-class>controller.admin.SearchEmployeeByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewEmp</servlet-name>
        <servlet-class>controller.admin.addNewEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewMedicalAppointmentServlet</servlet-name>
        <servlet-class>controller.doctor.viewMedicalAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addService</servlet-name>
        <servlet-class>controller.admin.addEditService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteService</servlet-name>
        <servlet-class>controller.admin.deleteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationFilter</servlet-name>
        <servlet-class>controller.AuthenticationFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewMedicalAppointmentHistory</servlet-name>
        <servlet-class>controller.doctor.viewMedicalAppointmentHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveResultServlet</servlet-name>
        <servlet-class>controller.SaveResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResultServlet</servlet-name>
        <servlet-class>controller.doctor.ViewResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPatientAppointment</servlet-name>
        <servlet-class>controller.viewPatientAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAppointmentStatusServlet</servlet-name>
        <servlet-class>controller.UpdateAppointmentStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMedicineServlet</servlet-name>
        <servlet-class>controller.addMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchFor1Day</servlet-name>
        <servlet-class>controller.admin.searchFor1Day</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByTime</servlet-name>
        <servlet-class>controller.admin.searchByTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByTimeService</servlet-name>
        <servlet-class>controller.admin.searchByTimeService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchFor1DayService</servlet-name>
        <servlet-class>controller.admin.searchFor1DayService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRevenue</servlet-name>
        <servlet-class>controller.admin.viewRevenue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewPatientServlet</servlet-name>
        <url-pattern>/viewpatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPatientDetailServlet</servlet-name>
        <url-pattern>/viewpatientdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewEmployee</servlet-name>
        <url-pattern>/viewEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEmployee</servlet-name>
        <url-pattern>/deleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployeeByName</servlet-name>
        <url-pattern>/SearchEmployeeByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewEmp</servlet-name>
        <url-pattern>/addNewEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewMedicalAppointmentServlet</servlet-name>
        <url-pattern>/viewMedicalAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteService</servlet-name>
        <url-pattern>/deleteService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewMedicalAppointmentHistory</servlet-name>
        <url-pattern>/viewHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveResultServlet</servlet-name>
        <url-pattern>/saveresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResultServlet</servlet-name>
        <url-pattern>/viewresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPatientAppointment</servlet-name>
        <url-pattern>/viewPatientAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAppointmentStatusServlet</servlet-name>
        <url-pattern>/updateAppointmentStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMedicineServlet</servlet-name>
        <url-pattern>/addmedicine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Config</servlet-name>
        <servlet-class>com.vnpay.common.Config</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Config</servlet-name>
        <url-pattern>/vnpayconfig/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchFor1Day</servlet-name>
        <url-pattern>/searchFor1Day</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByTime</servlet-name>
        <url-pattern>/searchByTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByTimeService</servlet-name>
        <url-pattern>/searchByTimeService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchFor1DayService</servlet-name>
        <url-pattern>/searchFor1DayService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRevenue</servlet-name>
        <url-pattern>/viewRevenue</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
